@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';
* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.no-scroll{
	overflow: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.clear {
	clear: both;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/footer';




@import 'blocks/media';
