.btn {
	width: 241px;
	height: 60px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
	background-color: $main-color;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: 0.5s ease;
	&:hover {
		background-color: darken($main-color, 10%);
	}
}