@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 380px) {
}